body {
  background-color: #1e1e1e;
  color: #e6e6e6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #323232;
  color: #ffffff;
  font-size: 24px;
  border-bottom: 1px solid #444;
}

.container {
  width: 90%;
  margin: 20px auto;
}

input[type="file"],
button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #2a9d8f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"] {
  color: #ffffff;
}

input[type="file"]:focus,
button:focus {
  outline: none;
}

button:hover {
  background-color: #21867a;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  background-color: #2a2a2a;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #2a2a2a;
}

tr:nth-child(odd) {
  background-color: #1f1f1f;
}

tr:hover {
  background-color: #3c3c3c;
  cursor: pointer;
}
